* {
    padding: 0;
    margin: 0;
}
body{
    /* position: relative; */
    align-items: center;
    display: flex;
    animation:ltrr 4s ease-in-out .5s;
}
.wrongIcon{
    background-color: rgb(130, 7, 130);
    width: 220px;
    height: 220px;
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(50%); */
    border-radius: 100%;
  animation:ltrr 4s ease-in-out .5s;
}

.line1 {
    width: 20px;
    height: 200px;
    background-color: tomato;
    rotate: 60deg;
    translate: 10px 0px;
    animation: example1 .9s ease infinite;
}
.line2 {
    width: 20px;
    height: 200px;
    background-color: tomato;
    rotate: -60deg;
    translate: -3px 0px;
    animation: example2 .9s ease infinite;
 
}
@keyframes example1 {
    0%   {background-color: red; 
        rotate: 45deg; }
   
    100% {background-color: rgb(254, 3, 158); 
        rotate: 405deg; }
  }

  @keyframes example2 {
    0%   {background-color: red; 
        rotate: -45deg; }
   
    100% {background-color: rgb(254, 3, 158); 
        rotate: 315deg; }
  }
  @keyframes ltrr{
    0%   { justify-content: start;}
    25%  { justify-content: center; }
    50%  {}
    100% {justify-content: end; }
  }


/* .wrongIcon:hover .line1,
.wrongIcon:hover .line2{
    rotate: 1turn;
} */
.box1 {
    background-color: rgb(244, 63, 244);
    width: 300px;
    height: 300px;
    margin: 100px auto;
    /* transition-property:all;
     transition-duration: .5s;
     transition-timing-function: ease; */
    transition: all 3.5s ease 2s;
    overflow: hidden;
    /* transition:1.9s; */
}

.box1:hover .yellow {
    transform: translateX(0px);
}

.box1:hover {
    /* transform:translateX(0); */
    /* transform: scale(2,1) rotate(60deg); */
    /* transform: skew(50deg); */
}



.yellow {
    width: 100%;
    height: 100%;
    background-color: rgb(247, 255, 4);
    transform: translateX(300px) rotate(60deg);
    transition: all .9s ease .2s;
}



.box2 {
    width: 300px;
    height: 300px;
    background-color: chartreuse;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

.box2:hover::after {
    transform: translateX(0px);
}

.box2::after {
    content: ' ';
    background-color: coral;
    width: 100%;
    height: 100%;
    transform: translateX(300px) rotate(90deg);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .9s ease .5s;
}