* {
    padding: 0;
    margin: 0;
}
body{
       display: flex;
    position: relative;
}
.wrongIcon{
    background-color: rgb(227, 113, 227);
    width: 220px;
    height: 220px;
    position: absolute; 
   left: 0;
     border-radius: 100%;
  animation:ltrr 7s ease-in-out .5s infinite;
}

.line1 {
    width: 20px;
    height: 200px;
    background-color: tomato;
    rotate: 60deg;
    translate: 10px 0px;
    animation: example1 .9s ease infinite;
}
.line2 {
    width: 20px;
    height: 200px;
    background-color: tomato;
    rotate: -60deg;
    translate: -3px 0px;
    animation: example2 .9s ease infinite;
 
}
.banner-one__shape-1 {
    background-image: linear-gradient(40deg, #0db8ff 0%, #f332ff 100%);
     box-shadow: 0px 20px 60px 0px rgba(141, 142, 255, 0.8);
    width: 143px;
    height: 143px;
    top: 5%;
    left: 3%;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-perspective: 150px;
    perspective: 150px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
    animation:shape1 8s ease-out infinite;
}
@keyframes shape1{
    0%   { 
        top: 100px;
        left: 100px;
        rotate: 0deg;
    }
    25%  { 
        top: 180px;
        left: 160px;
        rotate: 90deg;
     }
    50% {
        top: 180px;
        left: 300px;
        rotate: 180deg;
    }
    75%  { 
        top: 180px;
        left: 160px;
        rotate: 90deg;
     }
    100% {
        top: 100px;
        left: 100px; 
        rotate: 0deg;
     }
  }


@keyframes example1 {
    0%   {background-color: red; 
        rotate: 45deg; }
   
    100% {background-color: rgb(254, 3, 158); 
        rotate: 405deg; }
  }

  @keyframes example2 {
    0%   {background-color: red; 
        rotate: -45deg; }
   
    100% {background-color: rgb(254, 3, 158); 
        rotate: 315deg; }
  }
  @keyframes ltrr{
    0%   { 
        left: 0;
    }
    25%  { 
        left: 50%;
        background-color: rgb(254, 250, 3);
     }
    50% {
        left: 100%;
       transform:translate(-100%,0%);
       background-color: rgb(254, 3, 62);
    }
    75%  { 
        left: 50%;
        background-color: yellowgreen;
     }
    100% {
        left: 0;
        background-color: palegreen;
     }
  }


/* .wrongIcon:hover .line1,
.wrongIcon:hover .line2{
    rotate: 1turn;
} 

/* .wrongIcon:hover .line1,
.wrongIcon:hover .line2{
    rotate: 1turn;
} */
.box1 {
    background-color: rgb(244, 63, 244);
    width: 300px;
    height: 300px;
    margin: 100px auto;
    /* transition-property:all;
     transition-duration: .5s;
     transition-timing-function: ease; */
    transition: all 3.5s ease 2s;
    overflow: hidden;
    /* transition:1.9s; */
}

.box1:hover .yellow {
    transform: translateX(0px);
}

.box1:hover {
    /* transform:translateX(0); */
    /* transform: scale(2,1) rotate(60deg); */
    /* transform: skew(50deg); */
}



.yellow {
    width: 100%;
    height: 100%;
    background-color: rgb(247, 255, 4);
    transform: translateX(300px) rotate(60deg);
    transition: all .9s ease .2s;
}



.box2 {
    width: 300px;
    height: 300px;
    background-color: chartreuse;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

.box2:hover::after {
    transform: translateX(0px);
}

.box2::after {
    content: ' ';
    background-color: coral;
    width: 100%;
    height: 100%;
    transform: translateX(300px) rotate(90deg);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .9s ease .5s;
}



